$body-font: 'News Cycle', sans-serif;
$anthologie-gradient: linear-gradient(rgba(0,191,167,1),rgba(170,255,249,1));
$anthologie-white: #fdfdfd;
$anthologie-border: 1px solid #daefee;
@mixin anthologie-body-text($size) {
	font-family: $body-font;
	font-size: $size;
}

body {
	background-color: #f5fcfc;
}
 
.title-box {
	width: 70%;
	margin: 6rem auto;
}

.search-form {
	padding: 2rem;
	@include anthologie-body-text(1.6rem);
	color: #494949;
	// background-color: $anthologie-white;
	border-bottom: $anthologie-border;
	border-top: $anthologie-border;
	margin-bottom: 2rem;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.form-control {
	width: auto;
}

.form-element {
	padding-right: 1.6rem;
	label {
		padding-right: 1.6rem;
	}
}

.form-submit-button {
	background: $anthologie-gradient;
	border: none;
	border-radius: 2px;
	color: $anthologie-white;
	padding: 0.6rem 1.6rem;
	text-transform: lowercase;
}

.form-results {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// box-shadow: 0px 0px 15px #dedede;
}

.image-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.oneImage {
	width: 322px;
	background-color: $anthologie-white;
	border: $anthologie-border;
	border-radius: 5px;
	margin-bottom: 5rem;
}

.user-info {
	border-bottom: $anthologie-border;
	display: flex;
	flex-direction: row;
}

.user-image {
	width: 6rem;
	height: 6rem;
	border: none;
	border-radius: 50%;
	padding: 1.2rem;
}

.user-name {
	@include anthologie-body-text(1.6rem);
	padding: 1.6rem;
	margin-bottom: 0;
}

.caption {
	font-family: $body-font;
	padding: 1.6rem;
}

